URL=http://localhost:3000
SEO_SECRET_TOKEN=superSecretToken
DRAFT_SECRET_TOKEN=superSecretToken
CACHE_INVALIDATION_SECRET_TOKEN=superSecretToken
DATOCMS_PUBLISHED_CONTENT_CDA_TOKEN=
DATOCMS_DRAFT_CONTENT_CDA_TOKEN=
DATOCMS_CMA_TOKEN=
DATOCMS_BASE_EDITING_URL=http://<your-project>.admin.datocms.com
